[user]
	name = Daniel Farrell
	email = dfarrell@redhat.com
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore
[color]
	ui = true
[alias]
	logg = log --graph --oneline
[help]
	autocorrect = 1
[diff]
	tool = meld
[gitreview]
	username = dfarrell07
[push]
	default = simple
[http "https://code.engineering.redhat.com"]
	sslCAInfo = /etc/pki/ca-trust/source/anchors/Eng-CA.crt
[http]
	sslCAInfo = /etc/pki/ca-trust/source/anchors/Eng-CA.crt
	sslVerify = false
