VisualHostKey=yes

Host gh
    Hostname github.com
    User git
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host bot
    Hostname 10.2.1.1
    User root
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host bb
    Hostname 192.168.7.2
    User root
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host eos
    Hostname remote.eos.ncsu.edu
    User drfarrel

Host server
    Hostname 10.0.0.2
    User daniel
    Port 60377

Host rh-dev
    Hostname 10.3.14.156
    User fedora
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host mini
    Hostname 192.168.56.1
    User mininet
    Port 3022
