VisualHostKey=yes

Host gh
    Hostname github.com
    User git
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host bot
    Hostname 10.2.1.1
    User root
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host bb
    Hostname 192.168.7.2
    User root
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host eos
    Hostname remote.eos.ncsu.edu
    User drfarrel

Host server
    Hostname 10.0.0.2
    User daniel
    Port 60377

Host mini
    Hostname 192.168.56.1
    User mininet
    Port 3022

Host jess
    Hostname 192.168.0.9
    User bonnie
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host puppet
    Hostname 192.168.0.7
    User root
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host dev
    Hostname 10.3.8.114
    User fedora
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host cbench
    Hostname 10.3.12.77
    User fedora
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host wcbench
    Hostname 10.3.8.230
    User fedora
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host wcbench1
    Hostname 10.3.12.57
    User fedora
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

