VisualHostKey=yes

Host gh
    Hostname github.com
    User git
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host bot
    Hostname 10.2.1.1
    User root
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host bb
    Hostname 192.168.7.2
    User root
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host eos
    Hostname remote.eos.ncsu.edu
    User drfarrel

Host server
    Hostname 10.0.0.2
    User daniel
    Port 60377

Host mini
    Hostname 192.168.56.1
    User mininet
    Port 3022

Host cbenchl
    Hostname 209.132.178.216
    User fedora
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host cbenchs
    Hostname 209.132.178.215
    User fedora
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host cbenchc
    Hostname 209.132.178.214
    User fedora
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host cbenchd
    Hostname 209.132.178.217
    User fedora
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host cbenchb
    Hostname 209.132.178.162
    User cloud-user
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host cbenchll
    Hostname 209.132.178.221
    User fedora
    IdentityFile /home/daniel/.ssh/id_rsa_nopass

Host cbenchlll
    Hostname 209.132.178.222
    User fedora
    IdentityFile /home/daniel/.ssh/id_rsa_nopass
